<div *ngIf="!isAuthenticated">
    <login></login>
</div>
<div *ngIf="isAuthenticated">
    <vg-player>
        <vg-overlay-play></vg-overlay-play>
        <vg-buffering></vg-buffering>

        <vg-controls>
            <vg-mute></vg-mute>
            <vg-volume></vg-volume>

            <vg-fullscreen></vg-fullscreen>
        </vg-controls>

        <video [vgMedia]="media" #media id="singleVideo" preload="auto" crossorigin>
            <source src="rtmp://34.201.205.173:1935/live/auction/manifest.mpd" type="video/mp4">
        </video>
    </vg-player>
    <bidding-component></bidding-component>
</div>
